


.wrapper
  .side-bar
    .header
      %h3.header__name
        = current_user.name
      %ul.header__lists
        %li.list
          = link_to new_group_path do
            = fa_icon "comments",class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon "cog", class: 'icon'
    = render "groups"
  .chat
    .header
      .left-header
        .left-header__title
          あをによし
        %ul.left-header__members
          Member : sentokun
          %li.member
          %li.member
      %button.btn.btn-outline-primary{type: "button"} Edit
    = render "messages"
    .form
      %input.form-control{placeholder: "Text input", rows: "2", type: "text"}/
      .input-group-append
        %button#button-addon2.btn.btn-outline-secondary{type: "button"}
          %label.form__mask
            = fa_icon "image"
            %input.hidden.js-file{type: "file"}

      %input.btn.btn-primary{"data-disable-with" => "Send", name: "commit", type: "submit", value: "Send"}/
